<div id="container">
  <h2>{{ title }}</h2>

  <h3>WALLETS</h3>
  <div style="display:flex; flex-direction:row">
    <div *ngFor="let i of wallets">
      <app-wallet [data]="i"></app-wallet>
      <hr />
      <!--Fin ngFor-->
    </div>
  </div>
  ---------------------------------------------------------------------
  <h3>TRANSACCIONES</h3>
  <div style="display:flex; flex-direction:row">
    <div *ngFor="let i of transactions">
      <app-transaction [data]="i"></app-transaction>
      <hr />
      <!--Fin ngFor-->
    </div>
  </div>
</div>
<!--Fin container-->
