<div
  class="trans"
  [style.background]="data.mineType === 'PoW' ? 'yellow' : 'green'"
>
  <p>date: {{ data.date | date: 'dd/mm/yyyy'}}</p>
  <p>from: {{ data.from }}</p>
  <p>to: {{ data.to }}</p>
  <p>quantity: {{ data.quantity }}</p>
  <p>Money type: {{ data.moneyType | uppercase }}</p>
  <p>Mine type: {{ data.mineType }}</p>
  <p>Miner: {{ data.miner }}</p>
  <ng-Content></ng-Content>
</div>

<!--
date: '2021-12-07T18:30:00.000Z',
      from: 'MARIA123',
      from: 'JUANA123',
      quantity: 2,
      moneyType: 'btc',
      mineType: 'PoW',
      miner: 5,
-->
